<!doctype html>
<html>
<title>HOMEPAGE</title>
<link rel="stylesheet" href="../static/browse.css">
<link rel="stylesheet" href="../static/navbar.css">
<script>

</script>
<body>
    <div class="container">
        <div class="navbar">
           <div id="LogoDiv">
            <a href="/" style="text-decoration: none; color: white;">CriticZone</a>  
           </div>
           <div id="LinksDiv">
              <ul id="LinksMenu">
                 <li>Movies</li>
                 <li>Features</li>
                 {% if session['user_id'] %}
                 <li><button id="Login" onclick="location.href = '/auth/logout'">Logout</button></li>
                 {% else %}
                 <li><button id="Login" onclick="location.href = '/auth/login'">Login</button></li>
                 <li><button id="Register" onclick="location.href = '/auth/register'">Register</button></li>
                 {%endif%}
              </ul>
           </div>
        </div>
     </div>
     <!-- Navbar End -->
      <h1>{{ vars['name'] }}!</h1>
            <div class="movie-con">
                {% for movie in vars['movies'] %}
                <div class="movie-card">
                    <img id="card{{movie['movie_id']}}" src="{{ movie['movie_wallpaper'] }}" onclick=" location.href = '/index/{{ movie['movie_id'] }}' "/>
                    <h3>{{movie['movie_name']}}</h3>
                    <button id="visitMovie{{movie['movie_id']}}" style="display: none; position: absolute;" class="visitMovie">Visit Page</button>
                </div>
                {% endfor %}
            </div>
      <script>
        {% for movie in vars['movies'] %}
         document.getElementById("card{{movie['movie_id']}}").onmouseover = function(){
            document.getElementById("visitMovie{{movie['movie_id']}}").style.display = block;
         }
        {%endfor%}
      </script>
   </body>
</html>