<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/navbar.css">
   <link rel="stylesheet" href="../static/movie.css">
   <title>Movie</title>
</head>
<body>
   <!-- Navbar -->
   <div class="container">
      <div class="navbar">
         <div id="LogoDiv">
            CriticZone
         </div>
         <div id="LinksDiv">
            <ul id="LinksMenu">
               <li><a href="/index" style="text-decoration: none; color: white;">Movies</a></li>
               <li> <a href="#Features" style="text-decoration: none; color: white;"> Features</a></li>
               <li><button id="Login" onclick="location.href = '/auth/login'">Login</button></li>
               <li><button id="Register" onclick="location.href = '/auth/register'">Register</button></li>
            </ul>
         </div>
      </div>
   </div>   
   <!-- Navbar End -->
   <div class="movie-bg"></div>
   <div class="in-movie-bg">
      <img src="https://i.ytimg.com/vi/PQdF1LWFkMs/maxresdefault.jpg" alt="N/A">
      <h3>Iron Man 3</h3>
   </div>
   <h2 >Summary</h2>
   <p class="sum">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, ab iste. Soluta voluptatum excepturi distinctio incidunt reiciendis ex nobis deleniti, nostrum molestias quasi recusandae temporibus minus porro, cumque tenetur explicabo voluptate maiores eos doloremque fugiat ratione dolores aliquam? Ratione delectus consectetur nulla officia voluptatum labore perferendis sapiente, expedita repellat possimus?</p>
   <button class="wish">Add to Wishlist</button>
   <h2>Reviews</h2>
   <div class="reviews">
      <ul>
         <li><h3>first</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, labore.</p></li>
         <li><h3>first</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, labore.</p></li>
         <li><h3>first</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, labore.</p></li>
         <li><h3>first</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, labore.</p></li>
         <li><h3>first</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, labore.</p></li>
         <li><h3>first</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, labore.</p></li>
         <li><h3>first</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, labore.</p></li>
         <li><h3>first</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, labore.</p></li>
         <li><h3>first</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, labore.</p></li>
         <li><h3>first</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, labore.</p></li>
      </ul>
   </div>
   <form class="text" method="POST" action="">
      <label for="tarea">Add Review:</label>
      <textarea name="tarea" id="tarea" cols="50" rows="10"></textarea>
      <button type="submit">Submit</button>
   </form>
</body>
</html>